@model IEnumerable<Seemplexity.BusinesLogic.Model.BusDescription>

@{
    ViewBag.Title = Seemplexity.Resources.Resources.BusDescriptions;
    Layout = "_Layout.cshtml";
}

<h2>@Seemplexity.Resources.Resources.BusDescriptions</h2>

<p>
    @Html.ActionLink(Seemplexity.Resources.Resources.Create, "CreateBusDescription")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBusDescription", new {id = item.Id}) |
                @Html.ActionLink("Details", "DetailsBusDescription", new {id = item.Id}) |
                @Html.ActionLink("Delete", "DeleteBusDescription", new {id = item.Id})
            </td>
        </tr>
    }

</table>
