@using Seemplexity.Resources
@model IEnumerable<Seemplexity.Web.Models.Admin.UserViewModel>

@{
    ViewBag.Title = "ViewUsers";
    Layout = "_Layout.cshtml";
}

<h2>@Resources.UsersList</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleNames)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @string.Join(", ", item.RoleNames)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
