@using Seemplexity.Resources

@{
    ViewBag.Title = @Resources.Directions;
}
<div class="container body-content rwx-10" style="margin-top:50px;">
<h2>Болгария</h2>
<br>

<h4>Курорты</h4>
<ul>
    <li>@Html.ActionLink("Албена", "Albena", "Resorts")</li>
    <li>@Html.ActionLink("Золотые Пески", "GoldenSands", "Resorts")</li>
    <li>@Html.ActionLink("Солнечный День", "GoldenDay", "Resorts")</li>
    <li>@Html.ActionLink("Елените", "Elenite", "Resorts")</li>
    <li>@Html.ActionLink("Солнечный Берег", "GoldenCoast", "Resorts")</li>
    <li>@Html.ActionLink("Дюни", "Duni", "Resorts")</li>
</ul>
</div>
</div>
<div class="container body-content rwx-10" style="margin-top:50px;">
<h4>Географическое положение</h4>

<p>На карте Европы Болгария занимает северо-восточную часть Балканского полуострова, её
площадь составляет почти 111 тыс. кв. км. На севере граничит с Румынией, на востоке с
Черным морем, на юге - с Турцией и Грецией, на западе - с Сербией и Македонией.
Треть территории страны занимают горы. На севере находится Дунайская равнина, на юге
- Фракийская низменность, между ними, у южных склонов Балканских гор - Долина роз,
Каменный лес, Львиная голова, Белоградчикские скалы, - это лишь небольшая часть
феноменов болгарской природы. Под охраной ЮНЕСКО находятся болгарская гора
Пирин, царство цаплей и пеликанов, озеро Сребрна близ Дуная.</p>

<p><strong>Столица</strong> г. София. Страна полноправный член Европейского союза.</p>

<h4>Климат</h4>

<p>Страна находится на границе между умеренной и средиземноморской климатической
областью. В северной части климат – умеренно-континентальный, с 4 сезонами, на юге же
распространяется средиземноморское климатическое влияние. В Болгарии существует
пять климатических областей – умеренно-континентальная, переходная, континентально-
средиземноморская, черноморская и горная. Средняя зимняя температура колеблется от
0oС до минус 7oС. Средняя летняя температура +28oС + 30oС.</p>

<p><strong>Население</strong> - 7 973 637 человек</p>

<p><strong>Официальный язык</strong> - болгарский. Одна из немногих стран, где туристы из России не
    ощущают языкового барьера. Практически все население понимает русский язык.
    Болгарский язык принадлежит к группе славянских языков, к которым относятся русский,
    чешский, польский и сербо-хорватский языки.</p>


<h4>Политическое устройство и административное деление</h4>

<p>Болгария - парламентская республика, единое государство с местным самоуправлением.
    Главой государства является президент.
    Конституция страны принята в 1991 г.</p>

<p>Национальный герб Республики Болгария представляет собой стоящего на задних лапах
    золотого коронованного льва на красном поле в форме щита, под которым надпись: &quot;Сила
    - в единении&quot;. Гимном является песня &quot;Милая Родина&quot;. Национальное знамя - трехцветно:
    три равные параллельные друг другу полосы белого, зеленого и красного цвета, расположенные сверху вниз.</p>
<p>Болгария в связи с присоединением к ЕС постоянно улучшает свои отношения с другими
    странами. Она продолжает либерализовывать свою торговую политику, снижая
    таможенные тарифы и ликвидируя постепенно лицензии и экспортные квоты.</p>

<h4>Праздники и выходные дни</h4>

<p>
    1 января – Новый год <br>
    14 февраля - Праздник виноградарей - Трифон Зарезан<br>
    Своими корнями праздник уходит в античные времена, когда болгарские земли заселяли племена
    фракийцев, более всех богов почитавших Диониса - бога вина и виноградных лоз.
</p>
<p>
    3 марта – День Освобождения Болгарии от османского ига<br>
    8 марта - Международный женский день<br>
    1 мая – День труда<br>
    6 мая – День Святого Георгия, День Храбрости и Болгарской армии<br>
    24 мая – День просвещения и культуры славянской письменности, посвященный братьям Кириллу
    и Мефодию<br>
    2 июня - День Христо Ботева<br>
    Для каждого болгарина День Ботева – день всех павших за национальное и социальное
    освобождение Болгарии от османских поработителей - дата особо чтимая.
</p>
<p>
    6 сентября – День Соединения Болгарии<br>
    22 сентября – День Независимости Болгарии<br>
    6 декабря - День Конституции Болгарии<br>
    6 декабря 1991 года вступила в силу новая Конституция Болгарской Республики.
</p>
<p>
    8 декабря - День студента Болгарии<br>
    День студента в Болгарии начал отмечаться в Софийском Университете в 1903 году и с тех пор
    регулярно отмечается всеми студентами, в том числе и бывшими.
</p>
<p>
    24 декабря – Сочельник<br>
    25 и 26 декабря – Рождество Христово<br>
    Пасха – два дня (воскресенье и понедельник)
</p>
</div>